 /* src/components/Header/Header.css */
.Nav {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 60px;
 min-width: 500px;
}

.Nav-menus {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 70%;
  margin: 0 auto;
  padding: 10px 40px;
}

/* Logo Component */
/*
.Nav-brand-logo {
  display: block;
  background-position: -176px 0px;
  background-image: url(../../sprite.png);
  background-size: 405px 379px;
  background-repeat: no-repeat;
  height: 35px;
  width: 176px;
  text-indent: -1000%
}
*/

.Nav-brand-logo {
  display: block;
  background-position: -230px 0px;
  background-image: url(../../newSprite.png);
  background-size: 527px 493px;
  background-repeat: no-repeat;
  height: 46px;
  width: 230px;
  text-indent: -1000%;
}


.Nav-profile-menu{
 padding-top: 7px;
 display: flex;
 flex-direction: row;
 height: 50px;
 width: 5%;
 margin: 0 auto;
 float: right;
}

.Nav-profile{
    
  display: block;
  background-position: -30px -460px;
  background-image: url(../../newSprite.png);
  background-size: 527px 493px;
  background-repeat: no-repeat;
  height: 50px;
  width: 35px;
  margin-left: 130px;
  margin-right:0;
  text-indent: -1000%
}

.Nav-search-bar{
  display: block;
  background-image: url(../../searchBtn.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 233px;
  margin: auto;
  text-indent: -1000%
}

body { padding-top: 80px; 
background-color: #fafafa;}
