
/* Esconde o input */
input[type='file'] {
  display: none
}

label {
 position: fixed;
    bottom: 50px;
    right: 40px; 
    cursor: pointer;
    background-image: url(./btn.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}